@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/*  Shared styles */
.vis1
{
    background-color: rgba(84, 144, 245, 0.2);
}

.vis2
{
    background-color: rgba(198, 228, 214, 1);
}

.vis3
{
    background-color: rgba(247, 235, 207, 1);
}

.vis-btn1{
    background-color: rgba(84, 144, 245, 1);

}

.vis-btn2{
    background-color: rgba(9, 161, 92, 1);
}

.vis-btn3{
    background-color: rgba(255, 194, 57, 1);
}
body{
    background-color: #F5F5F5;
}

/* nav styles */

nav
{
    display: flex;
    justify-content: space-between;
    
    margin: 20px 160px;

}
.nav-title
{
    font-size: 32px;
    font-weight: bold;
}

.btn-nav
{
    color:#006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
    border: 2px solid #006A50;;
    border-radius: 8px;



}


/* banner styles */

.banner
{
    background-color: #C6E4D6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    padding: 100px 80px;
    margin: 20px 160px 80px 160px;
}

.banner-heading{

    color:rgba(14, 14, 14, 0.5);
    font-size: 24px;

}

.banner-title
{
    color:#0E0E0E;
    font-size: 56px;
    font-weight: bold;
}

.ban-btn
{
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding: 30px 18px;
  

}

.ban-btn:hover {
    background-color: #004731; 
    color: #C6E4D6; 
    cursor: pointer; 
}



main{
    margin: 80px 160px;
}

/* pillar section */

.pill-heading
{
    font-size: 40px;
    font-weight: bold;
    color:#0E0E0E;
}

.pill-container
{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    
}
.pill
{
    padding: 24px 24px;
    background-color: #FFFFFF;
    border-radius: 16px;

}

.pill-head
{
    font-size: 20;
    font-weight: bold;
}

.pill-description
{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

/* Vision styles */

.vision-container
{
    display: flex;
    justify-content: space-around;
    gap:24px;
}

.vision-item
{
    padding: 32px 32px;
    border-radius: 16px;;
}

.vis-btn
{
    color:rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600px;
    padding: 20px 11px;
    border-radius: 8px;
    border: none;
    
}
.vis-btn:hover {
    background-color: #002047; 
    color: #C6E4D6; 
    cursor: pointer; 
}
